<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <!--<style>-->
    <!--.ui-autocomplete-loading {-->
    <!--background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;-->
    <!--}-->
    <!--</style>-->

    <script>
        $(function () {

            $("#street").autocomplete({

                source: function (request, response) {

                    $.ajax({
                        url: 'http://powell-home.com:5000/streets',
                        dataType: 'jsonp',
                        data: {
                            req: request.term
                        },

                        success: function (data) {
                            if (!data)
                                return

                            response($.map(data, function (item) {
                                console.log(item.street);
                                return {
                                    value: item.street
                                }

                            }))
                        }
                    })

                },
                minLength: 3
            });
        });

        $(function () {

            $("#address").autocomplete({

                source: function (request, response) {

                    $.ajax({
                        url: 'http://powell-home.com:5000/addresses',
                        dataType: 'jsonp',
                        data: {
                            req: request.term
                        },

                        success: function (data) {
                            if (!data)
                                return

                            response($.map(data, function (item) {
                                console.log(item.address);
                                return {
                                    value: item.address
                                }

                            }))
                        }
                    })

                },
                minLength: 3
            });
        });
    </script>


</head>

<body>

<div class="ui-widget">
    <label for="street">Street: </label>
    <input id="street" type="text" autocomplete="off">
</div>

<div class="ui-widget">
    <label for="address">Address: </label>
    <input id="address" type="text" autocomplete="off">
</div>

</body>
</html>