<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>

    <script>
        $(function () {

            $("#address").autocomplete({

                source: function (request, response) {

                    $.ajax({
                        url: 'http://powell-home.com:5000/address',
                        dataType: 'jsonp',
                        data: {
                            add_req: request.term
                        },

                        success: function (data) {

                            response($.map(data, function (item) {
                                console.log(item.full_name);
                                return {
                                    value: item.full_name
                                }

                            }))
                        }
                    })

                },
                minLength: 2
            });
        });
    </script>


</head>

<body>

<div class="ui-widget">
    <label for="address">Address: </label>
    <input id="address" type="text" autocomplete="off">
</div>

</body>
</html>