<!DOCTYPE html>
<html lang="en">
<head>
    <title>JavaScript - read JSON from URL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="mypanel"></div>

<script>
    var api = "localhost:5000/address"
    var api = "http://date.jsontest.com"
    var api = "https://teamtreehouse.com/matthew.json?callback=showNames"
    var api = 'http://powell-home.com:5000/address'
    $.ajax({
        url: 'http://powell-home.com:5000/address',
        dataType: 'jsonp',
        success: function(data){
            var text = '';
            var len = data.length;
            console.log('here');
            for(var i=0;i<len;i++){
                twitterEntry = data[i];
                console.log(twitterEntry.address);

            }
        }
    });

</script>

</body>
</html>